# Ignore node_modules
node_modules/

# Ignore .env file
.env

# Ignore .DS_Store (for macOS)
.DS_Store

# Ignore log files
*.log

# Ignore OS files
Thumbs.db

# Ignore package-lock.json if you don't want to track exact package versions
package-lock.json

# Ignore build folder
build/

# Ignore the client build directory
client/build/

# Ignore IDE files
.vscode/
.idea/

# Ignore any other unnecessary files/folders
